{% extends "base.html" %}

{% block title %} Xóa Hàng Hóa {% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <fieldset class="form-group">
            <div style="color:#575757; font-weight: bold; font-size: 3rem; border-bottom: 1px solid white;">Xóa Hàng Hóa</div> <br>
            <h2 style="color:#575757;">Bạn có chắc chắn muốn xóa hàng hóa "{{ object.ten }}"?</h2> <!-- Thay đổi 'object.name' thành 'object.ten' -->
        </fieldset>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-danger">Có, Xóa</button>
            <a href="{% url 'tonkho' %}" class="btn btn-secondary">Hủy</a> <!-- Thay đổi URL từ 'inventory' thành 'tonkho' -->
        </div>
    </form>
{% endblock content %}
